.my-button:hover {
    background-color: #FF9F43;
  }

  .my-button{
    color: black;
    white-space: nowrap;
    text-align: start;
  }
  .side_bar{
    background-color: #ffffff;
    // position: fixed;
  }

  .icon-color{
    color:#AAB0B4
  }