<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow">
                <form>
                    <div class="card-header">
                        <h5>Email Settings</h5>
                        <small class="text-dark font-weight-bold">Edit your Email Settings</small>
                    </div>
                    <div class="card-body">
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label text-dark"> <b> Mail Driver</b></label>
                                    <input type="text" name="mail_driver" class="form-control "
                                      />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label text-dark"> <b> Mail Host</b></label>
                                    <input type="text" name="mail_host" class="form-control "/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="col-form-label text-dark"> <b> Mail Port </b></label>
                                    <input type="text" name="mail_port" class="form-control "/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="mail_username" class="col-form-label text-dark"> <b> Mail
                                        Username</b></label>
                                    <input type="text" name="mail_username" class="form-control "/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="col-form-label text-dark"> <b> Mail
                                        Password</b></label>
                                    <input type="text" name="mail_password"  class="form-control"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="col-form-label text-dark"> <b> Mail
                                        Encryption</b></label>
                                    <input type="text" name="mail_encryption" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="col-form-label text-dark"> <b> Mail From
                                        Address</b></label>
                                    <input type="text" name="mail_from_address" 
                                        class="form-control "/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="col-form-label text-dark"> <b> Mail From
                                        Name</b></label>
                                    <input type="text" name="mail_from_name" class="form-control" />
                                </div>
                            </div>
                        </div>
                          <div class="col-md-12 mt-3 mb-5">
                              <div class="form-group">
                                  <button class="btn btn-save float-end btn-primary">Save Changes</button>
                                <button class="btn btn-save float-end me-3 btn-primary">Send Test Mail</button>
                              </div>
                          </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
