
<div class="page-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item bread-cr"><a class="bread-cr" routerLink="/dashboard">Home</a></li>
          <li class="breadcrumb-item bread-cr"><a class="bread-cr" routerLink="/dashboard">Dashboard</a></li>
          <li class="breadcrumb-item active " aria-current="page">Landing Page</li>
        </ol>
      </nav>
</div>

       
    <form method="POST" action="https://demo.rajodiya.com/leadgo-saas/landingpage" accept-charset="UTF-8"><input name="_token" type="hidden" value="eKSwJ4woJTP9AhABWCJQl309KCnCMPZEwYlfg0Wg">
    <input type="hidden" name="_token" value="eKSwJ4woJTP9AhABWCJQl309KCnCMPZEwYlfg0Wg" autocomplete="off">                        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-6">
                        <mat-card-title>Top Bar</mat-card-title>
                    </div>
                    <div class="col switch-width text-end">
                        <div class="form-group mb-0">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                <label class="form-check-label mx-5" for="flexSwitchCheckDefault">OFF/ON</label>
                              </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">

                    
    <angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>
    
    <div class="html">
      {{ htmlContent }}
    </div>

                </div>
            </div>
            <div class="card-footer text-end">
                <input class="btn btn-print-invoice btn-primary m-r-10" type="submit" value="Save Changes">
            </div>
        </div>
    </form>